/**
 * Copyright ©2018 GravitiChain. All rights reserved. Code or files can not be copied, modified and/or distributed without the express written permission. Unauthorized copying, modification or use of this file, via any medium is strictly prohibited.
 *
 * @version 1.0
 * @author Saydur Rahman
 */

.grid {
    width: 100%;
    margin: 0 auto;
}

    .grid:before, .grid:after, .grid .row:before, .grid .row:after {
        content: '';
        display: table;
    }

    .grid:after,
    .grid .row:after {
        clear: both;
    }

[class*='col-'] {
    width: 100%;
    float: left;
    min-height: 1px;
    position: relative;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}
